{% extends 'base.html' %}

{% block content %}

<h1>Welcome To All About Africa</h1>
On this page you will find quizzes on various topics about Afrrica.

Hello World!
<p> We invite you to test your knowledge about Africa by taking one of our quizzes below!!! </p>



{% endblock %}